

table { 
    width: 50%; 
    border: 1px solid #100808; 
    border-collapse: collapse; 
} 

th, 
tr { 
    padding: 10px; 
    border: 2px solid black; 
    align-items: center;

} 

.newRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
   width: 50%;
}

#save{
   
        background-color: #04AA6D; 
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 5px;
        cursor: pointer;
    
}
#remove{
    background-color: #aa0404; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}




input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin: 5px 0;
    border: 1px solid #ccc;

}

